html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: url(/assets/images/landscape-sky-dusk-beauty-beach.jpg);
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 5rem auto;
  padding-top: 5rem;
  width: 100%;
  max-width: 1024px;
  border-radius: 5px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
  align-items: center;
  box-sizing: border-box;
}

input,
select {
  margin: 0 5rem;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: 0;
}
.btn-wrapper {
  text-align: center;
}
button {
  padding: 1rem 2rem;
  margin: 5rem 0;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
